table.no-spacing {
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;
  border:1px solid black;
}

.currentTurn {
  pointer-events:auto;
  opacity: 1;
}

.notCurrentTurn {
  pointer-events: none;
  opacity: 0.5;
}
