table{
  border-collapse:collapse;
}
td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}


.occupiedSpace {
  background-color: blue;
}
.is-hit {
  background-color: orangered;
}

.is-miss {
  background-color: darkgray;
}
